#onboarding {
  background: rgba(0, 30, 85, 0.1);
  height: 100vh;
}
#onboarding #onboarding-row #onboarding-column #onboarding-box {
  margin-top: 10rem;
  max-width: 600px;
  margin-left: 3rem;
}
#onboarding
  #onboarding-row
  #onboarding-column
  #onboarding-box
  #onboarding-form {
  padding: 20px;
}
#onboarding
  #onboarding-row
  #onboarding-column
  #onboarding-box
  #onboarding-link {
  padding: 20px;
  margin-top: -70px;
  margin-left: 100px;
}
